<!--<header class="header trans_300">-->
  <!-- Main Navigation -->

  <div class="main_nav_container">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-right">
          <div class="logo_container">
            <a href="">MICHAEL<span> LEARN TO DEV</span></a>
          </div>
          <nav class="navbar">
            <ul class="navbar_menu">
              <li><a href="#">home</a></li>
              <li><a href="#" routerLink="/customers">list</a></li>
              <li><a href="#" routerLink="/create">add new</a></li>
              <li><a href="#">pages</a></li>
              <li><a href="#">blog</a></li>
              <li><a href="#">contact</a></li>
            </ul>
<!--            <ul class="navbar_user">-->
<!--              <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i></a></li>-->
<!--            </ul>-->
            <ul class="">
              <li class="account">
                <a href="#">
                  My Account
                  <i class="fa fa-angle-down"></i>
                </a>
                <ul class="account_selection">
                  <li><a href="#" routerLink="/login"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
                  <li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

<!--</header>-->
